{% if alignment == 'center' %}
  {% set alignment_class = 'text-center' %}
{% elseif alignment == 'right' %}
  {% set alignment_class = 'text-right' %}
{% else  %}
  {% set alignment_class = 'text-left' %}
{% endif %}

{% if orientation == 'horizontal' %}
  {% set orientation_class = 'flex flex-row [&>div.lead]:mr-4 pr-4 [&>div:first-child]:absolute' %}
{% else %}
  {% set orientation_class = '[&>div.lead]:mb-4' %}
{% endif %}

{% if border == 'yes' %}
  {% set border_class = 'border rounded-lg' %}
{% else %}
  {% set border_class = '' %}
{% endif %}

{% if background_pattern %}
  {% set background_pattern_style = "background-image: url('" ~ background_pattern|file_url ~ "');" %}
{% endif %}

{# {% set background_color_array = [
    'bg-base-lime',
    'bg-base-red',
    'bg-base-orange',
    'bg-base-yellow',
    'bg-base-green',
    'bg-base-teal',
    'bg-base-blue',
    'bg-base-purple',
    'bg-base-magenta',
    'bg-base-gray',
    ] %} #}

{% set paragraph_classes = [
    paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}

<section {{ attributes.addClass(paragraph_classes).addClass(orientation_class).addClass(border_class) }}>
  {{ quick_edit }}
  <div class="lead p-8 rounded-lg"{% if background_pattern_style %} style="{{ background_pattern_style }}"{% endif %}>
      {% for key, item in lead_item %}
          {% if key|first != '#' %}
              {{ item }}
          {% endif %}
      {% endfor %}
  </div>

  <div class="items my-auto">
      {% for key, item in accordion_items %}
          {% if key|first != '#' %}
              {{ item }}
          {% endif %}
      {% endfor %}
  </div>
</section>
