
<li class="mb-10 ms-12">
  
  <span class="absolute bg-base-blue  flex h-16 items-center justify-center rounded-full -start-9  w-16">
      {% if icon %}
        <span class="border border-base-blue flex items-center h-16 justify-center rounded-full shrink-0 w-16 text-2xl text-white">
          {{ icon }}
        </span>
      {% else %}
        <span class="border border-base-blue  flex items-center h-16 justify-center rounded-full shrink-0 w-16 text-2xl text-white">
          {{ step_number }}
        </span>
      {% endif %}
  </span>
  <div class="bg-base-blue p-6 rounded-md w-9/12">
    {{ include('sanfran:headings', {
        level: '3',
        text: heading,
      })
    }}

    {{ include('sanfran:wysiwyg', {
        wysiwyg: description,
      })
    }}

    {% if ctaText %}
      <div class="hero--cta">
        {{ include('sanfran:button', {
          type: 'btn-outline btn-primary',
          ctaText,
          ctaHref,
          })
        }}
      </div>
    {% endif %}
  </div>
</li>