{% if alignment == 'center' %}
  {% set alignment_class = 'text-center [&>div.wysiwyg_ul]:list-inside' %}
{% elseif alignment == 'right' %}
  {% set alignment_class = 'text-right [&>div.wysiwyg_ul]:list-inside' %}
{% else  %}
  {% set alignment_class = 'text-left' %}
{% endif %}

{% if background_glass == 'yes' %}
  {% set background_glass_classes = ' p-8 glass gui-block' %}
  {% if background_color %}
    {% set background_glass_classes = background_glass_classes ~ ' relative rounded-2xl rounded-br-xl border-[3px] border-solid border-' ~ background_color ~ ' after:border-[3px] after:border-solid after:border-primary' %}
  {% endif %}
{% endif %}

{% set paragraph_classes = [
    paragraph.bundle,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}


<hgroup {{ attributes.addClass(paragraph_classes).addClass(alignment_class).addClass(background_glass_classes).addClass('rounded-2xl ' ~ width) }}>
  {{ quick_edit }} 

  {% if eyebrow %}
      {{ include('sanfran:eyebrow', {
          eyebrow,
          background_color,
          })
      }}
  {% endif %}

  {% if heading %}
      {{ include('sanfran:headings', {
          level,
          text: heading,
          })
      }}
  {% endif %}

  {% if description %}
      {{ include('sanfran:wysiwyg', {
          wysiwyg: description,
          classes: 'pb-0',
          })
      }}
  {% endif %}

  <div class="hero--cta">
    {% if ctaText is not empty %}
      {{ include('sanfran:button', {
          type: 'btn-primary',
          ctaText,
          ctaHref,
          })
      }}
    {% endif %}
  
    {% if cta_title_secondary is not empty %}
        {{ include('sanfran:button', {
            type: 'btn-outline btn-neutral',
            ctaText: cta_title_secondary,
            ctaHref: cta_url_secondary,
            })
        }}
    {% endif %}
  </div>
</hgroup>
