
{% if background_color %}
  {% set background_color_class = 'p-4 rounded-lg' %}
{% else %}
  {% set background_color_class = '' %}
{% endif %}

{% if background_pattern %}
  {% if storybook %}
    {% set background_pattern = background_pattern|file_url|replace({'https://accuedits.ddev.site' : ''})  %}
    {% set background_pattern_class = "bg-[url('" ~ background_pattern ~ "')]" %}
  {% else %}
    {% set background_pattern_class = "bg-[url('" ~ background_pattern|file_url ~ "')]" %}
  {% endif %}
  
  {% if orientation != 'horizontal' %}
    {% if flip == 'yes' %}
      {% set background_pattern_class = "mt-4 " ~ background_pattern_class %}
    {% else %}
      {% set background_pattern_class = "mb-4 " ~ background_pattern_class %}
    {% endif %}
  {% endif %}
{% endif %}

{% if border == 'yes' %}
  {% set border_class = 'border rounded-lg' %}
  {% if background_color_class == '' %}
    {% set border_class = border_class ~ ' p-4' %}
  {% endif %}
{% else %}
  {% set border_class = '' %}
{% endif %}

{% if ('1' in columns) or (columns == '1') %}
  {% set column_classes = '' %}
{% elseif ('2' in columns) or (columns == '2') %}
  {% set column_classes = ' sm:grid-cols-2' %}
{% elseif ('3' in columns) or (columns == '3') %}
  {% set column_classes = ' sm:grid-cols-2 md:grid-cols-3' %}
{% elseif ('4' in columns) or (columns == '4') %}
  {% set column_classes = ' sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4' %}
{% elseif ('5' in columns) or (columns == '5') %}
  {% set column_classes = ' sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5' %}
{% elseif ('6' in columns) or (columns == '6') %}
  {% set column_classes = ' sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6' %}
{% else %}
  {% set column_classes = ' sm:grid-cols-2 md:grid-cols-3' %}
{% endif %}

{% if flip == 'yes' %}
    {% set flip_class = ' [&>div.lead]:order-2 [&>div.items]:order-1' %}
{% else %}
    {% set flip_class = '' %}
{% endif %}

{% if gradient %}
    {% set gradient_classes = ' mb-4 ' ~ gradient_direction ~ ' ' ~ gradient %}
{% else %}
    {% set gradient_classes = '' %}
{% endif %}

{% if orientation == 'horizontal' %}
    {% set orientation_class = 'flex flex-col md:flex-row [&>div.lead_hgroup]:sticky [&>div.lead_hgroup]:top-32 md:[&>div.lead]:w-6/12 [&>div.lead_hgroup]:h-1/12 md:[&>div.items]:w-1/2 md:[&>div.frontend-editing-actions]:absolute' %}
    {% set column_classes = '' %}
     
    {% if flip == 'yes' %}
        {% set flip_class = ' [&>div.lead]:order-2 [&>div.items]:order-1' %}
        {% set orientation_class = orientation_class ~ ' [&>div.lead]:ml-6' %}
    {% else %}
        {% set orientation_class = orientation_class ~ ' [&>div.lead]:mr-6' %}
    {% endif %}
    
    {% set placement_class = '' %}
{% else %}
    {% set orientation_class = 'flex flex-col rounded-b-lg' %}
    
    {% if placement == 'end' %}
      {% set placement_class = 'flex flex-row-reverse' %}
    {% elseif placement == 'middle'%}
      {% set placement_class = 'flex justify-center' %}
    {% else %}
      {% set placement_class = 'flex flex-row' %}
    {% endif %}
{% endif %}

{% set paragraph_classes = [
    paragraph.bundle|clean_class,
    'bg-' ~ background_color ~ '/[.25]',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}

<section {{ attributes.addClass(paragraph_classes).addClass(background_color_class).addClass(border_class).addClass(flip_class).addClass(orientation_class).addClass(placement_class) }}>
  {{ quick_edit }} 

  <div class="lead p-8 rounded-lg {{ placement_class }}{{gradient_classes}}{% if background_pattern_class %} {{ background_pattern_class }}{% endif %}">
  
      {% if storybook %}
          {{ lead_item }}
      {% else %}
          {% for key, item in lead_item %}
              {% if key|first != '#' %}
                  {{ item }}
              {% endif %}
          {% endfor %}
      {% endif %}

  </div>
{% if orientation == 'horizontal' %}
  <div class="items grid gap-x-4 gap-y-8 grid-cols-1{{column_classes}}">
{% else %}
  <div class="items grid gap-x-4 gap-y-8 grid-cols-1{{column_classes}}">
{% endif %}
  
      {% for key, item in icon_card_items %}

        {% if storybook %}

          {% if item.icon is not empty %}
            {% set material_icon = {
              '#theme': 'material_icon',
              '#icon': item.icon,
              '#family': 'material-icons-two-tone',
              '#classes': 'text-4xl',
            } %}
          {% else %}
            {% set material_icon = '' %}
          {% endif %}

          {{ include('sanfran:icon-card', {
            icon: material_icon,
            heading: item.heading,
            description: item.description,
            ctaText: item.ctaText,
            ctaHref: item.ctaHref,
            background_color: item.background_color,
            type: item.type,
            alignment: item.alignment,
            orientation: item.orientation,
            placement: item.placement,
            quick_edit: '',
          }) }}
        {% else %}
          {% if key|first != '#' %}
              {{ item }}
          {% endif %}
        {% endif %}

      {% endfor %}
  </div>

</section>
