{% set parent = drupal_entity('paragraph', paragraph.parent_id.value|default('')) %}  
{% set link_card = parent['#paragraph'].field_link_card.value %}

{% if (link_card == '1') %} 
    {% set link_card_class = 'hover:ring-2' %}
{% else %}
    {% set link_card_class = '' %}
{% endif %}

{% set classes_paragraph = [
    paragraph.bundle,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}

<article {{ attributes.addClass(classes_paragraph).addClass(link_card_class).addClass('card card-compact bg-base-100 rounded-lg shadow-xl max-w-128') }}>

  {{ quick_edit }}
  {% if (link_card == '1') and (ctaHref != '') %} 
    <a href="{{ ctaHref }}">
  {% endif %}

      <div class="items">
        {% if (image != '') and ((image != '/')) %} 
          {{ include('sanfran:figure', {
              image,
              imageAlt,
              ratio: '21/9',
              classes: '[&>img]:rounded-t-lg',
            })
          }}
        {% endif %}
        
        {% if video_remote != '' %} 
            {{ include('sanfran:remote-video', {
                video_remote,
                ratio: '21/9',
                classes: '[&>iframe]:rounded-t-lg',
                })
            }}
        {% endif %}
      </div>
        
      <div class="lead card-body">

        {% if heading %}
          {{ include('sanfran:headings', {
              level: '3',
              text: heading,
            })
          }}
        {% endif %}

        {% if description %}
          {{ include('sanfran:wysiwyg', {
              wysiwyg: description,
            })
          }}
        {% endif %}

        {% if ctaHref and (link_card != '1') %}
        <div class="card-actions justify-start">
          {{ include('sanfran:button', {
            type: 'btn-outline btn-primary',
            ctaText,
            ctaHref,
            })
          }}
        </div>
        {% endif %}

      </div>
  {% if (link_card == '1') and (ctaHref != '') %} 
    </a>
  {% endif %}</article>