<div class="card card-compact bg-base-100 shadow-xl max-w-md">
  {{ include('sanfran:figure', {
      image,
      imageAlt,
      ratio: '16/9',
     })
  }}


    {% if heading %}
      {# Todo: If heading, description and CTA all empty don't display 'card-body' div  #}
      <div class="card-body">
        <h3 class="card-title">{{ heading }} {{ headingLevel }}</h3>
    {% endif %}
    
    {% if description %}
      {{ description }}
    {% endif %}

    {% if ctaText %}
    <div class="card-actions justify-start">
      {{ include('sanfran:button', {
        type: 'btn-primary',
        ctaText,
        ctaHref,
        })
      }}
    </div>
    {% endif %}

    {% if heading %}
     {# Todo: If heading, description and CTA all empty don't display 'card-body' div  #}
      </div>
    {% endif %}
</div>