{% if background_color %}
  {% set background_color_class = 'p-4 rounded-lg' %}
{% else %}
  {% set background_color_class = '' %}
{% endif %}


{% if background_pattern %}
  {% set background_pattern_style = "background-image: url('" ~ background_pattern|file_url ~ "');" %}
{% endif %}

{% if border == 'yes' %}
  {% set border_class = 'border rounded-lg' %}
  {% if background_color_class == '' %}
    {% set border_class = border_class ~ ' p-4' %}
  {% endif %}
{% else %}
  {% set border_class = '' %}
{% endif %}

{% if flip == 'yes' %}
    {% set flip_class = ' [&>div.lead]:order-2 [&>div.items]:order-1' %}
{% else %}
    {% set flip_class = 'mb-4' %}
{% endif %}

{% if placement == 'end' %}
  {% set placement_class = 'flex flex-row-reverse' %}
{% elseif placement == 'middle'%}
  {% set placement_class = 'flex justify-center' %}
{% else %}
  {% set placement_class = 'flex flex-row' %}
{% endif %}

{% if orientation == 'horizontal' %}
    {% set orientation_class = 'flex flex-col md:flex-row [&>div.lead_hgroup]:sticky [&>div.lead_hgroup]:top-32 md:[&>div.lead]:w-5/12 md:[&>div.items]:w-7/12 md:[&>div.frontend-editing-actions]:absolute' %}
    {% set column_classes = '' %}
     
    {% if flip == 'yes' %}
        {% set flip_class = ' [&>div.lead]:order-2 [&>div.items]:order-1' %}
        {% set orientation_class = orientation_class ~ ' [&>div.lead]:ml-6' %}
    {% else %}
        {% set orientation_class = orientation_class ~ ' [&>div.lead]:mr-6' %}
    {% endif %}

{% else %}
    {% if flip == 'yes' %}
        {% set orientation_class = 'flex flex-col rounded-b-lg [&>div.lead]:mt-6' %}
    {% else %}
        {% set orientation_class = 'flex flex-col rounded-b-lg [&>div.lead]:mb-6' %}
    {% endif %}

{% endif %}

{% set paragraph_classes = [
    'table-component',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'bg-base-' ~ background_color,
  ]|join(' ')|trim %}

<section {{ attributes.addClass(paragraph_classes).addClass(background_color_class).addClass(border_class).addClass(flip_class).addClass(orientation_class) }}>
    {{ quick_edit }}

    {# Display Lead paragraph #}
    <div class="lead p-8 rounded-lg {{ placement_class }}"{% if background_pattern_style %} style="{{ background_pattern_style }}"{% endif %}>

        {% if storybook %}
            {{ lead_item }}
        {% else %}
            {% for key, item in lead_item %}
                {% if key|first != '#' %}
                    {{ item }}
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

    <div class="items">

        {% if storybook %}

            {% set hmtl_text = {
                '#type':   'processed_text',
                '#text':    table,
                '#format':  'table_component',
            } %}
            {{ hmtl_text }}

        {% else %}
            {{ table }}
        {% endif %}
  
    </div>
</section>
