{% if orientation == 'horizontal' %}
    {% set orientation_class = 'flex flex-row [&>div.lead]:w-5/12 [&>div.items]:w-7/12 [&>div:first-child]:absolute' %}
{% else %}
    {% set orientation_class = 'flex flex-col' %}
{% endif %}

{% if flip == 'yes' %}
    {% set flip_class = '[&>div.lead]:order-2 [&>div.items]:order-1' %}
{% else %}
    {% set flip_class = '' %}
{% endif %}

{% if border == 'yes' %}
  {% set border_class = 'border p-4 rounded-lg' %}
{% else %}
  {% set border_class = 'rounded-lg' %}
{% endif %}

{% if background_pattern %}
  {% set background_pattern_style = "margin-bottom: 1rem; background-image: url('" ~ background_pattern|file_url ~ "');" %}
{% endif %}

{% set paragraph_classes = [
    'table-component',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'bg-base-' ~ background_color,
  ]|join(' ')|trim %}

<section {{ attributes.addClass(paragraph_classes).addClass(orientation_class).addClass(flip_class).addClass(border_class).addClass('') }}>
    {{ quick_edit }}

    {# Display Lead paragraph #}
    <div class="lead p-8 rounded-lg"{% if background_pattern_style %} style="{{ background_pattern_style }}"{% endif %}>
        {% for key, item in lead_item %}
            {% if key|first != '#' %}
                {{ item }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="items"> 
        {{ table }}
    </div>
</section>
