<div class="card card-compact bg-base-100 shadow-xl">
  {{ include('sanfran:figure', {
      image,
      imageAlt,
      ratio: '16/9',
     })
  }}
  <div class="card-body">
    <h3 class="card-title">{{ heading }} {{ headingLevel }}</h3>
    {{ description }}
    <div class="card-actions justify-start">
      {{ include('sanfran:button', {
        type: 'btn-primary',
        ctaText,
        ctaHref,
        })
      }}
    </div>
  </div>
</div>