{# Retrieve the background_color value from the /04-component/accordion/accordion.twig file 
   There might be a shorter way to get to the value
   ToDo: Replace the next 4 lines with a shorter version
#}
{% if storybook %}
     {% set accordion_id = 1234 %}
     {% set background_color_class = 'bg-primary/[.25]' %}
{% else %}
    {% set accordion_id = paragraph.parent_id.value %}
    {% set parent = drupal_entity('paragraph', accordion_id) %}  
    {% set term_id = parent['#paragraph'].field_background_color.value.0.target_id %}
    {% if term_id %} 
        {% set term_details = drupal_entity('taxonomy_term', term_id|number_format) %} 
        {% set background_color = term_details['#taxonomy_term'].name.value|lower %}
        {% set background_color_class = 'bg-' ~ background_color ~ '/[.25]' %}
    {% else %}
        {% set background_color_class = '' %}
    {% endif %}
{% endif %}

{% set accordion_radio_id = 'accordion-' ~ accordion_id %}

{% set classes_accordion_item = [
    'accordion-item',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}

<article {{ attributes.setAttribute('class', '').addClass(classes_accordion_item).addClass(background_color_class).addClass('collapse collapse-arrow mb-2 rounded-lg') }}>
    {{ quick_edit }}
    <input type="radio" name="{{ accordion_radio_id }}" /> 
    <h2 class="collapse-title text-xl font-medium">
        {{ heading }}
    </h2>
    <div class="collapse-content"> 
        {% if description %}
            {{ include('sanfran:wysiwyg', {
                wysiwyg: description,
                classes: 'pb-0',
                })
            }}
        {% endif %}
    </div>
</article>
