{% if alignment == 'center' %}
  {% set alignment_class = 'text-center [&>div.wysiwyg_ul]:list-inside' %}
{% elseif alignment == 'right' %}
  {% set alignment_class = 'text-right [&>div.wysiwyg_ul]:list-inside' %}
{% else  %}
  {% set alignment_class = 'text-left -pl-8' %}
{% endif %}

{% if background_glass == 'yes' %}
  {% set background_glass_classes = ' p-8 glass gui-block' %}
  {% if background_color %}
    {% set background_glass_classes = background_glass_classes ~ ' relative rounded-2xl rounded-br-lg border-[3px] border-solid border-' ~ background_color ~ ' after:border-[3px] after:border-solid after:border-primary' %}
  {% endif %}
{% endif %}

{% set paragraph_classes = [
    paragraph.bundle,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}


<hgroup {{ attributes.addClass(paragraph_classes).addClass(alignment_class).addClass(background_glass_classes).addClass('rounded-lg ' ~ width) }}>
  {{ quick_edit }} 

  {% if eyebrow %}
      <div class="eyebrow uppercase badge badge-{{background_color}}">{{ eyebrow }}</div>
  {% endif %}

  {% if heading %}
      {{ include('sanfran:headings', {
          level,
          text: heading,
          })
      }}
  {% endif %}

  {% if description %}
      {{ include('sanfran:wysiwyg', {
          wysiwyg: description,
          classes: 'pb-0',
          })
      }}
  {% endif %}

  {% if ctaText is not empty %}
    <div class="hero--cta">
        {{ include('sanfran:button', {
            type: 'btn-primary',
            ctaText,
            ctaHref,
            })
        }}
    </div>
  {% endif %}

  {# {% if background_glass == 'yeseee' %}
    <span class="relative border-success border-warning">
      <span class="after:content-[""] after:absolute after:bg-transparent after:border-[3px] after:border-solid after:border-error after:rounded-2xl after:rounded-tl-lg after:buttom-0 after:left-0 after:right-0 after:top-0 after:z-10 after:translate-x-6 after:translate-y-8 after:transition after:ease-in-out after:cursor-pointer" aria-hidden="true">&nbsp;</span>
    </span>
  {% endif %} #}
</hgroup>
