{% set classes_paragraph = [
    paragraph.bundle,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}

<article {{ attributes.addClass(classes_paragraph).addClass('flex flex-col h-full p-4 bg-base-yellow border-l-[#F5CD47] border-l-8 rounded-lg') }}>
  {{ quick_edit }}

  {% if eyebrow %}
      <div class="eyebrow uppercase">{{ eyebrow }}</div>
  {% endif %}

  {% if heading %}
    {{ include('sanfran:headings', {
        level: '3',
        text: heading,
      })
    }}
  {% endif %}

  {% if description %}
    {{ include('sanfran:wysiwyg', {
        wysiwyg: description,
      })
    }}
  {% endif %}

  {% if ctaText %}
    <div class="card-actions justify-start">
      {{ include('sanfran:link', {
        classes: 'link link-primary font-bold',
        text: ctaText,
        url: ctaHref,
        })
      }}
    </div>
  {% endif %}

</article>
