{% set classes_hero = [
    'hero-banner',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]|join(' ')|trim %}

{% if image is not empty %}
  {% set attributes = attributes.setAttribute('style', 'background-size: cover; background-image: url("' ~ image|image_style('32_9_2xl_1536x432')|render|striptags|trim|default('') ~ '");') %}
{% endif %}

<article {{ attributes.addClass(classes_hero).addClass('grid grid-flow-row p-8 place-items-start rounded-lg') }}>
  {{ edit_icon }} 

  <div class="glass p-8 rounded-lg w-1/2">
    {% if eyebrow %}
      <div class="callout uppercase">{{ eyebrow }}</div>
    {% endif %}

    {% if heading %}
      {{ include('sanfran:headings', {
          level: '1',
          text: heading,
        })
      }}
    {% endif %}

    {% if description %}
      {{ include('sanfran:wysiwyg', {
          wysiwyg: description,
          classes: 'mb-0',
        })
      }}
    {% endif %}

    {% if ctaText is not empty %}
      <div class="hero--cta">
        {{ include('sanfran:button', {
          type: 'btn-primary',
          ctaText,
          ctaHref,
          })
        }}
      </div>
    {% endif %}
  </div>

</article>

