{% if orientation == 'horizontal' %}
    {% set orientation_class = 'flex flex-row [&>div.lead]:w-1/2 [&>div.items]:w-1/2' %}
    {% set image_style = '16_9_2xl_768x432' %}
{% else %}
    {% set orientation_class = 'flex flex-col rounded-b-lg' %}
    {% set image_style = '32_9_2xl_1536x432' %}
{% endif %}

{% if flip == 'yes' %}
    {% set flip_class = '[&>div.lead]:order-2 [&>div.items]:order-1' %}
{% else %}
    {% set flip_class = '' %}
{% endif %}

{% if border == 'yes' %}
  {% set border_class = 'border rounded-lg' %}
{% else %}
  {% set border_class = 'rounded-lg' %}
{% endif %}

{% set paragraph_classes = [
    paragraph.bundle,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'bg-' ~ background_color ~ '/[.25]',
  ]|join(' ')|trim %}


<section {{ attributes.addClass(paragraph_classes).addClass(orientation_class).addClass(flip_class).addClass(border_class) }}>
    {{ quick_edit }}

    {# Display Lead paragraph #}
    <div class="lead m-8">
        {% for key, item in lead_item %}
            {% if key|first != '#' %}
                {{ item }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="items carousel">

        {% set item_count = 0 %}
        {% for key, item in carousel_items %}
            {% if key|first != '#' %}
                {% set item_count = item_count + 1 %}
            {% endif %}
        {% endfor %}

        {% for key, item in carousel_items %}
            {% if key|first != '#' %}
                {% if key == '0' %}
                    {% set prev = item_count%}
                    {% set number = key|number_format + 1 %}
                    {% set next = number + 1 %}
                {% elseif (key|number_format+1) == item_count %}
                    {% set prev = key %}
                    {% set number = item_count %}
                    {% set next = 1 %}
                {% else %}
                    {% set prev = key %}
                    {% set number = key|number_format + 1 %}
                    {% set next = number + 1 %}
                {% endif %}
                <div id="slide{{number}}" class="carousel-item relative w-full">
                    {% if storybook %}
                        <img src="{{ item.image }}" alt="{{ item.imageAlt }}" class="w-full" />
                    {% else %}
                        {% set carousel_item_target_id = item['#media'].field_media_image.0.target_id %}
                        {% set carousel_item_title = item['#media'].field_media_image.0.alt %} 
                        {{ drupal_image(carousel_item_target_id, image_style, { alt: carousel_item_title, title: carousel_item_title, class: 'w-full' } ) }}
                    {% endif %}
                    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                        <a href="#slide{{prev}}" class="btn btn-circle">❮</a> 
                        <a href="#slide{{next}}" class="btn btn-circle">❯</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</section>