{% if (flip == 'yes') and (border == 'no') and (background_color == '') %}
  {% set variant_classes = 'md:flex md:flex-row-reverse md:[&>div.media_img]:rounded-lg md:[&>div.media_iframe]:rounded-lg' %}
{% elseif (flip == 'yes') and (border == 'no') and (background_color != '') %}
  {% set variant_classes = 'md:flex md:flex-row-reverse md:[&>div.media_img]:rounded-l-lg md:[&>div.media_iframe]:rounded-l-lg rounded-lg' %}
{% elseif (flip == 'yes') and (border == 'yes') and (background_color != '') %}
  {% set variant_classes = 'md:flex md:flex-row-reverse md:[&>div.media_img]:rounded-l-lg md:[&>div.media_iframe]:rounded-l-lg border rounded-lg' %}
{% elseif (flip == 'no') and (border == 'no') and (background_color != '') %}
  {% set variant_classes = 'md:flex md:flex-row md:[&>div.media_img]:rounded-r-lg md:[&>div.media_iframe]:rounded-r-lg rounded-lg' %}
{% elseif (flip == 'no') and (border == 'yes') and (background_color != '') %}
  {% set variant_classes = 'md:flex md:flex-row border rounded-lg md:[&>div.media_img]:rounded-r-lg md:[&>div.media_iframe]:rounded-r-lg' %}
{% else %}
  {% set variant_classes = 'md:flex md:flex-row md:[&>div.media_img]:rounded-lg md:[&>div.media_iframe]:rounded-lg' %}
{% endif %}

{% if background_color %}
  {% set background_color_class = 'bg-' ~ background_color ~ '/[.25]' %}
{% endif %}

{% if background_pattern %}
  {% set background_pattern_style = "margin-bottom: 1rem; background-image: url('" ~ background_pattern|file_url ~ "');" %}
{% endif %}

{% if gradient %}
    {% set gradient_classes = 'rounded-l-lg ' ~ gradient_direction ~ ' ' ~ gradient %}
{% else %}
    {% set gradient_classes = 'rounded-lg' %}
{% endif %}

{% if storybook %}
  {% set component_name = 'spotlight' %}
{% else %}
  {% set component_name = paragraph.bundle|clean_class %}
{% endif %}

{% set paragraph_classes = [
    component_name,
    'paragraph',
    'paragraph--type--' ~ component_name,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]|join(' ')|trim %}

  {# {{drupal_image(media_single,'16_9_2xl_768x432')}}
  {{ dump(media_single) }}
  {{ dump(image) }} #}

<section {{ attributes.addClass(paragraph_classes).addClass(variant_classes).addClass(background_color_class).addClass('md:[&>div.frontend-editing-actions]:absolute') }}{% if background_pattern_style %} style="{{ background_pattern_style }}"{% endif %}>
  {{ quick_edit }}
 
  {# Display Lead paragraph #}
  <div class="lead my-auto p-8 w-full md:w-1/2 {{gradient_classes}}">

      {% if storybook %}
          {{ lead_item }}
      {% else %}
          {% for key, item in lead_item %}
              {% if key|first != '#' %}
                  {{ item }}
              {% endif %}
          {% endfor %}
      {% endif %}
      
  </div>

  {# Display either an image or a video #}
  <div class="media w-full md:w-1/2 [&>figure]:h-full [&>figure_img]:object-cover [&>figure_img]:w-full [&>figure_img]:h-full [&>figure_iframe]:object-cover [&>figure_iframe]:w-full [&>figure_iframe]:h-full">
    {% if image is not empty %} 
      {{ include('sanfran:figure', {
          image,
          image_alt,
          image_style: 'half_width',
          storybook,
        })
      }}
    {% endif %}

    {% if video_remote %} 
      {{ include('sanfran:remote-video', {
          video_remote,
          classes: 'pb-[55%]',
        })
      }}
    {% endif %}
  </div>

</section>