{% if (flip == 'yes') and (border == 'no') and (background_color == '') %}
  {% set variant_classes = 'flex flex-row-reverse gap-2 [&>div.media_img]:rounded-lg [&>div.media_iframe]:rounded-lg' %}
{% elseif (flip == 'yes') and (border == 'no') and (background_color != '') %}
  {% set variant_classes = 'flex flex-row-reverse gap-2 [&>div.media_img]:rounded-l-lg [&>div.media_iframe]:rounded-l-lg rounded-lg' %}
{% elseif (flip == 'yes') and (border == 'yes') and (background_color != '') %}
  {% set variant_classes = 'flex flex-row-reverse gap-2 [&>div.media_img]:rounded-l-lg [&>div.media_iframe]:rounded-l-lg border rounded-lg' %}
{% elseif (flip == 'no') and (border == 'no') and (background_color != '') %}
  {% set variant_classes = 'flex flex-row gap-2 [&>div.media_img]:rounded-r-lg [&>div.media_iframe]:rounded-r-lg rounded-lg' %}
{% elseif (flip == 'no') and (border == 'yes') and (background_color != '') %}
  {% set variant_classes = 'flex flex-row gap-2 [&>div.media_img]:rounded-r-lg [&>div.media_iframe]:rounded-r-lg border rounded-lg' %}
{% else %}
  {% set variant_classes = 'flex flex-row gap-2 [&>div.media_img]:rounded-lg [&>div.media_iframe]:rounded-lg' %}
{% endif %}

{% if background_color %}
  {% set background_color_class = 'bg-base-' ~ background_color %}
{% endif %}

{% set classes_spotlight = [
    paragraph.bundle,
    variant_classes,
    background_color_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    variant,
  ]|join(' ')|trim %}

<section {{ attributes.addClass(classes_spotlight) }}>
  {{ quick_edit }}
 
 {# Display Lead paragraph #}
 <div class="lead my-auto p-8 w-1/2">
      
      {% for key, item in lead_item %}
        {% if key|first != '#' %}
            {{ item }}
        {% endif %}
      {% endfor %}
  </div>

  {# Display either an image or a video #}
  <div class="media w-1/2">
      {% if image is not empty %} 
        {{ include('sanfran:figure', {
            image,
            imageAlt,
            ratio: '16/9',
          })
        }}
      {% endif %}

      {% if video_remote %} 
        {{ include('sanfran:remote-video', {
            video_remote,
            })
        }}
      {% endif %}
    </div>

</section>