{# Prepare presentational attributes #}

{# Markup for the component #}
{% set classes_spotlight = [
    'spotlight ' ~ type,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]|join(' ')|trim %}

<article {{ attributes.addClass(classes_spotlight).addClass('grid grid-cols-2 gap-4') }}>

    <div class="spotlight-media">
    
      {% if image is not empty %} 
        {{ include('sanfran:figure', {
            image,
            imageAlt,
            ratio: '2/1',
          })
        }}
      {% endif %}

      {% if video_remote %} 
        {{ include('sanfran:remote-video', {
            video_remote,
            })
        }}
      {% endif %}
    </div>
    <div class="spotlight-callout px-8 py-6">
    
      {{ include('sanfran:headings', {
          text: heading,
          level: '2',
            })
      }}
      
      {% if description %}
        {{ include('sanfran:wysiwyg', {
            wysiwyg: description,
          })
        }}
      {% endif %}

      {% if ctaText is not empty %}
        {{ include('sanfran:button', {
          type: 'btn-accent',
          ctaText,
          ctaHref,
          })
        }}
      {% endif %}
    </div>

</article>